@import url('https://fonts.cdnfonts.com/css/louis-george-cafe');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #F7F7F7;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
#navbarSupportedContent{
    font-size: 20px;
    font-family: 'Louis George Café';
    font-weight: bold;
}
#home{
    display: flex;
    height: 100vh;
    margin: auto 0 auto 0;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
}
.bicitipos{
    padding-top: 30px;
    padding-bottom: 20px;
}
.slide{
    margin-top: 10px;

}
.slide img{
    min-height: 100%;
}
#via{
    background-image: url("img/via.png") ;
}


#bicirutas{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
#footer{
    color: #F5871F;
    text-decoration: none;
}
#bicitips{
    display: flex;
    justify-content: center;
}
#tipos1{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}